Specify that the encoding is always UTF-8?

See [RFC7159, section 8.1](https://tools.ietf.org/html/rfc7159#section-8.1):

> JSON texts that are encoded in UTF-8 are interoperable in the sense that they will be read successfully by the maximum number of implementations

If we had had the ability to go back in time, that section would have said 

> JSON MUST be encoded as UTF-8

A quick note on your spec now probably saves you a bunch of pain later.

This is a good idea but since Hjson is a superset it must allow everything that JSON allows.

Would adding a preferred encoding to the syntax help?

If you're a superset of [ECMA-404](http://www.ecma-international.org/publications/files/ECMA-ST/ECMA-404.pdf), they don't actually specify encoding.  If you're a strict superset of RFC7159, then yes, you probably *technically* need to support non-UTF8 encodings, and specifying a default/preferred encoding is useful.  

However, since you're specifying a new wire format, it seems completely reasonable to me for you to say "UTF8-only".  Yes, there may be some 7159-compliant JSON files that wouldn't parse as hjson, but it's worth it not to have to specify the encoding every time you process a file (either through the API or by content-type), or to have to add encoding-detecting heuristics (like the ones in [RFC4627, Section 3](https://tools.ietf.org/html/rfc4627#section-3) that got removed in 7159 because the first character was no longer always `[` or `{`).

Hjson should be able to work as a drop in replacement for JSON. So if anyone is currently using JSON configs they can easily switch to Hjson.

But I think you are right that `.hjson` files themselves can be defined as UTF-8 only.