Media type text/hjson unregistered & default unicode encoding

As per http://www.iana.org/assignments/media-types/media-types.xhtml, media types in the standard trees must be registered.

I did a cursory look online for RFCs or submissions but didn't find any. Was one submitted? I'd be happy to help with that process should that media type be the one wanted, but this also presents issues.

As per https://tools.ietf.org/html/rfc6657 any text/* should either encode the encoding within the entity payload itself (text/xml being an example) or define and maybe make explicit the charset value as well as its default.

The interesting bits:

   As specified in [RFC6657], a "charset" parameter SHOULD NOT be
   specified when charset information is transported inside the payload
   (e.g., as in "text/xml").

   If a "charset" parameter is specified, it SHOULD be a required
   parameter, eliminating the options of specifying a default value.  If
   there is a strong reason for the parameter to be optional despite
   this advice, each subtype MAY specify its own default value, or
   alternatively, it MAY specify that there is no default value.
   Finally, the "UTF-8" charset [RFC3629] SHOULD be selected as the
   default.  See [RFC6657] for additional information on the use of
   "charset" parameters in conjunction with subtypes of text.

   Regardless of what approach is chosen, all new text/* registrations
   MUST clearly specify how the charset is determined; relying on the
   US-ASCII default defined in Section 4.1.2 of [RFC2046] is no longer
   permitted.  If explanatory text is needed, this SHOULD be placed in
   the additional information section of the registration.



Thanks for the information! I have overlooked that.

I'd appreciate your help. If I read this correctly, defining the charset as "UTF-8" for "text/hjson" would be OK?

I think it's the easiest for the avoidance of doubt, especially if the media type has not been widely deployed on server resources. A cursory glance on google tells me no master list has taken the format on yet.

Next step is to prepare a registration request in the standard tree, which will probably lead to some IETF resources being allocated and an editor to make sure the spec is up to scratch, and go through the motion of a full RFC being published. This requires an initial draft for the media type itself, but usually requires the specification itself to be RFC'd, so making hjson "standard" for the whole internet.

The alternative is to be in the vendor tree, which has relaxed rules, which would make it text/vnd.hjson. If you don't want to go through the RFC process itself, that's probably the quickest way to be "compliant" with media type rules :)

Let me know how I can help.

I've removed all references to the mime type as Hjson as a configuration file format does not need them (or at least not one that requires registration).